
	.mediaViewInfo {
		--web-view-name: index;
		--web-view-id: index;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: index;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#index {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: index;
		--web-view-id: index;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	
	#Nav {
		fill: rgba(0,134,255,1);
	}
	.Nav {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 103.299px;
		left: 0px;
		top: 0px;
	}
	#n__ {
		position: absolute;
		width: 36.442px;
		height: 6.811px;
		left: 1867.558px;
		top: 41.189px;
		display: none;
		overflow: visible;
	}
	#n_5 {
		position: absolute;
		width: 36.442px;
		height: 6.811px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Hello {
		left: 348px;
		top: 286px;
		position: absolute;
		overflow: visible;
		width: 1226px;
		height: 174px;
		text-align: center;
		font-family: Sandoll GothicNeo1 07 Bd;
		font-style: normal;
		font-weight: normal;
		font-size: 160px;
		color: rgba(0,41,77,1);
	}
	#n________Tale_ {
		left: 513px;
		top: 510px;
		position: absolute;
		overflow: visible;
		width: 896px;
		height: 106px;
		line-height: 57.599998474121094px;
		margin-top: -4.799999237060547px;
		text-align: center;
		font-family: Sandoll GothicNeo1 05 Md;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(0,41,77,1);
	}
	#n_7 {
		position: absolute;
		width: 1920px;
		height: 103.299px;
		left: 0px;
		top: 976.701px;
		overflow: visible;
	}
	#Footer {
		fill: rgba(0,134,255,1);
	}
	.Footer {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 103.299px;
		left: 0px;
		top: 0px;
	}
	#Copyright_Team_EWS_all_rights_ {
		left: 700px;
		top: 38.299px;
		position: absolute;
		overflow: visible;
		width: 521px;
		height: 26px;
		line-height: 30.792482376098633px;
		margin-top: -2.5660409927368164px;
		text-align: center;
		font-family: Sandoll GothicNeo1 03 Lt;
		font-style: normal;
		font-weight: normal;
		font-size: 25.660400390625px;
		color: rgba(255,255,255,1);
	}
	#Group {
		position: absolute;
		width: 40.445px;
		height: 76.972px;
		left: 100px;
		top: 13.164px;
		overflow: visible;
	}
	#n_1 {
		position: absolute;
		width: 40.445px;
		height: 76.972px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_ {
		position: absolute;
		width: 40.38px;
		height: 43.857px;
		left: 1588px;
		top: 29.755px;
		overflow: visible;
	}
	#n_2 {
		position: absolute;
		width: 40.38px;
		height: 43.857px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n__ba {
		position: absolute;
		width: 43.443px;
		height: 41.528px;
		left: 1670px;
		top: 30.754px;
		overflow: visible;
	}
	#n_3 {
		position: absolute;
		width: 43.443px;
		height: 41.528px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n__bb {
		position: absolute;
		width: 64px;
		height: 63.79px;
		left: 1756px;
		top: 19.755px;
		overflow: visible;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Profile.html;
		cursor: pointer;
	}
	#n_4 {
		position: absolute;
		width: 64px;
		height: 63.79px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Text {
		left: 232px;
		top: 39px;
		position: absolute;
		overflow: visible;
		width: 138px;
		height: 26px;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: UserGuide.html;
		cursor: pointer;
		line-height: 30.792482376098633px;
		margin-top: -2.5660409927368164px;
		text-align: center;
		font-family: Sandoll GothicNeo1 07 Bd;
		font-style: normal;
		font-weight: normal;
		font-size: 25.660400390625px;
		color: rgba(255,255,255,1);
	}
	#Text_ {
		left: 540px;
		top: 39px;
		position: absolute;
		overflow: visible;
		width: 138px;
		height: 26px;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Notice_board.html;
		cursor: pointer;
		line-height: 30.792482376098633px;
		margin-top: -2.5660409927368164px;
		text-align: center;
		font-family: Sandoll GothicNeo1 07 Bd;
		font-style: normal;
		font-weight: normal;
		font-size: 25.660400390625px;
		color: rgba(255,255,255,1);
	}
	#Text_ba {
		left: 386px;
		top: 39px;
		position: absolute;
		overflow: visible;
		width: 138px;
		height: 26px;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: diary_write.html;
		cursor: pointer;
		line-height: 30.792482376098633px;
		margin-top: -2.5660409927368164px;
		text-align: center;
		font-family: Sandoll GothicNeo1 07 Bd;
		font-style: normal;
		font-weight: normal;
		font-size: 25.660400390625px;
		color: rgba(255,255,255,1);
	}
	#Text_bb {
		left: 694px;
		top: 39px;
		position: absolute;
		overflow: visible;
		width: 138px;
		height: 26px;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: SharedDiarys_board.html;
		cursor: pointer;
		line-height: 30.792482376098633px;
		margin-top: -2.5660409927368164px;
		text-align: center;
		font-family: Sandoll GothicNeo1 07 Bd;
		font-style: normal;
		font-weight: normal;
		font-size: 25.660400390625px;
		color: rgba(255,255,255,1);
	}
	#n_12 {
		fill: rgba(0,134,255,1);
	}
	.n_12 {
		position: absolute;
		overflow: visible;
		width: 246px;
		height: 88px;
		left: 690px;
		top: 706px;
	}
	#n_57 {
		fill: rgba(0,134,255,1);
	}
	.n_57 {
		position: absolute;
		overflow: visible;
		width: 246px;
		height: 88px;
		left: 985px;
		top: 706px;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: login.html;
		cursor: pointer;
	}
	#Text_bd {
		left: 716px;
		top: 730px;
		position: absolute;
		overflow: visible;
		width: 196px;
		height: 40px;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: diary_write.html;
		cursor: pointer;
		text-align: center;
		font-family: Sandoll GothicNeo1 07 Bd;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#Text_be {
		left: 1011px;
		top: 730px;
		position: absolute;
		overflow: visible;
		width: 196px;
		height: 40px;
		text-align: center;
		font-family: Sandoll GothicNeo1 07 Bd;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}